{% extends "theblog/base.html" %}

{% block link %}
<link href="https://fonts.googleapis.com/css2?family=Pattaya&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap" rel="stylesheet">
{% endblock%}

{% block main %}
<section style="margin-top: 77px; text-align: center;">
    <h1 style="font-family: 'Pattaya', serif; font-size: 77px;">404</h1>
    <p style="font-family: 'Cormorant Garamond', serif; font-size: 27px;">Éc, có vẻ như mặt hàng bạn cần tìm chưa nhập về Cu Xin Shop. Chúng tôi rất tiếc về điều này.</p>
</section>
{% endblock %}